.manage {
  overflow-y: auto;
  position: relative;
  height: calc(100svh - 108px - (var(--padding) * 2));
  max-height: calc(100svh - 108px - (var(--padding) * 2));
  background-color: var(--txt-color);
  margin: var(--padding);
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  border-radius: var(--radius);
  padding: var(--padding);
}
.boxHolder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: var(--padding);
}
.box {
  background-color: var(--soft-color);
  border-radius: var(--radius);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.imgHolder {
  width: 80px;
  aspect-ratio: 1/1;
  position: relative;
  /* border: 2px solid #fca35580;
  outline: 3px solid #ff790032; */
  border-radius: 50%;
}
.imgHolder img {
  object-fit: cover;
  border-radius: inherit;
}
.boxHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.boxHeader button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 6px;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: 0;
  text-transform: capitalize;
  font-weight: 500;
  width: fit-content;
  color: #237901;
  background-color: #41e40020;
}
.boxBody {
  background-color: var(--txt-color);
  padding: var(--padding);
  border-radius: 8px;
}
.boxBody p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 14px;
}
.boxBody p svg {
  font-size: 18px;
  color: #666;
}
.boxFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.boxFooter button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px;
  outline: 0;
  font-weight: 500;
}
.addBtnHolder {
  position: absolute;
  top: var(--padding);
  right: var(--padding);
}
.addBtnHolder button {
  background-color: var(--soft-color);
  border-color: transparent;
  color: #696969;
}
.addBtnHolder button:hover {
  background-color: #e9e6e6;
}
