.grid {
  display: grid;
  grid-template-columns: 80px 0.8fr 0.8fr 1.5fr 1.5fr 1.2fr 1fr;
}
.grid span {
  padding: 10px;
  border-right: 1px solid var(--text-color);
}
.grid span:last-child {
  border-right: 0;
}
.tableHeader {
  background-color: var(--main-color);
  color: var(--text-color);
  /* border: 1px solid #a7a7a7; */
}
.tableHeader span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.checkBox input {
  width: 18px;
  aspect-ratio: 1/1;
}
.checkBox {
  display: flex;
  align-items: center;
  justify-content: center;
  accent-color: var(--style-color);
}
.tableTab:nth-child(odd) {
  background-color: var(--soft-color);
}
.tableTab.active {
  background-color: #94949482;
}
.tableTab span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  width: 100%;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: 16px;
}
/* .status {
  padding: 5px 10px;
  border-radius: 5px;
} */
/* .status.active {
  background-color: #03a803;
  color: #fff;
} */
.underBtn {
  width: 40px;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--soft-color);
  outline: 0;
  border: 0;
  object-fit: cover;
  cursor: pointer;
}
.underHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.underHolderBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
}
.recycleBtn {
  padding: 10px 15px;
  border: 1px solid var(--bg-color);
  background-color: var(--text-color);
  color: var(--bg-color);
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.recycleBtn:disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.recycleBtn:not(:disabled):hover {
  background-color: var(--main-color);
  color: var(--text-color);
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.pagi {
  color: var(--text-color);
  cursor: pointer;
}
.paginationBtns {
  display: flex;
  align-items: center;
  gap: 2px;
  position: relative;
}
.paginationBtns button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  background-color: var(--soft-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border: 0;
  width: 30px;
  aspect-ratio: 1/1;
  font-weight: 600;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.paginationBtns button.active,
.paginationBtns button:hover {
  background-color: var(--second-color);
  color: var(--text-color);
}
.dropDownPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  bottom: calc(100% + 10px);
  width: 100%;
  background-color: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5px;
}
.dropDownPagination button {
  width: 100%;
  padding: 5px;
  aspect-ratio: unset;
  height: fit-content !important;
}
.paginationBtns span {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid var(--second-color);
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  transition: 150ms ease-in-out;
  display: flex;
  align-items: center;
  gap: 14px;
}
.paginationBtns span:hover,
.paginationBtns span.active {
  background-color: var(--second-color);
  color: var(--text-color);
}
.paginationBtns span svg {
  transition: 150ms ease-in-out;
}
.paginationBtns span.active svg {
  rotate: 180deg;
}
.tableHolder {
  min-height: calc(38.4px * 5);
}
.exportHolder {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.exportHolder h4 {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}
.emptyTable {
  height: calc(38.4px * 5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  /* background-color: #e6e6e6; */
}
.emptyTable h3 {
  font-weight: 600;
  color: var(--second-color);
}
.popOut {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUp {
  width: 35%;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--text-color);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: calc(var(--padding) * 1.8) var(--padding);
}
.popUp h3 {
  text-transform: uppercase;
}
.popUp p {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.8);
}
.popUpBtns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.popUpBtns button {
  padding: 8px;
  cursor: pointer;
  border-radius: 2px;
  outline: 0;
  border: 0;
  background-color: var(--soft-color);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.popUpBtns button.confirm {
  background-color: var(--style-color);
  color: var(--text-color);
}
