@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-family: "Epilogue", sans-serif;
}
::selection {
  background-color: var(--text-color);
  color: var(--main-color);
}
:root {
  --bg-color: #1b1d21;
  --main-color: #363636;
  --text-color: #f9f9f9;
  --style-color: #f3821f;
  --error-color: #e4002b;
  --padding: 25px;
}
.app_wrapper {
  height: 100svh;
  overflow: hidden;
}
.loggedin {
  display: grid;
  grid-template-columns: 1.2fr 3.5fr 1.5fr;
}
ul {
  list-style: none;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
