@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
::selection {
  background-color: var(--style-color);
  color: #ffffff;
}
:root {
  --bg-color: #1e1e1e;
  --text-color: #f1e7dd;
  --style-color: #ff602c;
}
