@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-family: "Epilogue", sans-serif;
}
::selection {
  background-color: var(--text-color);
  color: var(--main-color);
}
:root {
  --bg-color: #1b1d21;
  --main-color: #292c31;
  --second-color: #3f3f3f;
  --text-color: #f9f9f9;
  --style-color: #e27a2f;
  --error-color: #e4002b;
  --padding: 25px;
}
.light {
  --bg-color: #f9f9f9;
  --main-color: #e9eff5;
  --text-color: #1b1d21;
  --second-color: #ced6de;
}
.light img {
  filter: invert(0) !important;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.app_wrapper {
  height: 100svh;
  overflow: hidden;
}
.loggedin {
  display: grid;
  grid-template-columns: 1.2fr 3.5fr 1.5fr;
}
ul {
  list-style: none;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
.custom-tooltip {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.label {
  font-weight: 500;
}
.label:nth-child(1) {
  margin-bottom: 15px;
}
.label span {
  color: var(--text-color);
  padding: 5px;
  border-radius: 4px;
}
