.rightSideBar {
  padding: var(--padding);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: 300ms ease-in-out;
  cursor: pointer;
  font-size: 18px;
}
.icon:hover {
  background-color: var(--main-color);
}
.userHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--padding);
  margin: 25px 0;
  border-radius: 12px;
}
.userHolder h4 {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
}
.imgHolder {
  position: relative;
  height: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--main-color);
}
.imgHolder img {
  object-fit: cover;
  border-radius: 50%;
}
.history {
  height: 60svh;
  max-height: 60svh;
  overflow-y: auto;
}
.historyBox {
  padding: 10px 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.historyBox:nth-child(odd) {
  background-color: var(--main-color);
}
.df {
  display: flex;
  align-items: center;
  gap: 15px;
}
.df2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Mainicon {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 12px;
  background-color: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.historyBox span h4 {
  font-weight: 500;
  font-size: 16px;
}
.historyBox span p {
  font-size: 12px;
  opacity: 0.8;
}
.status {
  background-color: rgb(113, 184, 7);
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 8px;
  text-transform: uppercase;
}
.status.active {
  background-color: rgb(113, 184, 7);
}
