.dashboard {
  padding: 0;
  position: relative;
  height: calc(100svh - 85px);
  max-height: calc(100svh - 85px);
  overflow-y: auto;
  padding-bottom: var(--padding);
  padding: var(--padding);
  padding-top: 0;
  background-color: var(--txt-color);
}
.dashboardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--txt-color);
  z-index: 99;
  padding: var(--padding) 0;
  height: 86px;
}
.inputHolder {
  position: relative;
  width: calc(50% - (var(--padding) / 2));
  height: 36px;
  z-index: 2;
}
.inputHolder::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 2.4px;
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  z-index: -1;
}
.inputHolder .searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  z-index: 21;
  color: var(--main-color) !important;
}
.inputHolder input {
  position: absolute;
  width: 100%;
  height: 100%;
  /* border-radius: 12px; */
  background-color: var(--txt-color);
  color: var(--bg-color);
  border: 1px solid var(--main-color);
  outline: 0;
  padding: 15px;
  padding-right: 45px;
  font-size: 16px;
  font-weight: 600;
  transition: 250ms ease-in;
  z-index: 1;
}
.inputHolder input::placeholder {
  font-weight: 100;
  text-transform: capitalize;
}
.inputHolder input:focus {
  opacity: 1;
}
.dashboardHeader button {
  background-color: var(--txt-color);
  height: 36px;
  aspect-ratio: 1/1;
  outline: 0;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  transition: 250ms ease-in;
  cursor: pointer;
  font-size: 26px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dashboardHeader button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -2.5px;
  left: 2.4px;
  background-color: var(--second-color);
  z-index: -1;
}
.dashboardHeader button:hover {
  opacity: 1;
}
.dashboardBoxs {
  height: 27svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--padding);
  margin-bottom: var(--padding);
}
.dashboardBox {
  background-color: var(--style-color);
  background-color: var(--bg-color);
  color: var(--style-color);
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
.dashboardBox svg {
  color: var(--style-color);
}
.dashboardBox:nth-child(1) {
  background-color: #e27a2f;
  background-color: var(--bg-color);
}
.dashboardBox:nth-child(2) {
  background-color: #ec9b50;
  background-color: var(--bg-color);
}
.dashboardBox:hover img {
  scale: 1.05;
  rotate: 2deg;
}
.dashboardBox img {
  filter: grayscale(100%);
  opacity: 0.05;
  object-fit: cover;
  transition: 350ms ease-in;
}
.dashboardBox h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.dashboardBox svg {
  font-size: 65px;
}
.dashboardBox::after {
  content: "";
  position: absolute;
  top: -10%;
  left: -110%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
  cursor: pointer;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.dashboardBox:hover::after {
  opacity: 1;
  top: -30%;
  left: -30%;
}
.dashboardBox::before {
  content: "";
  position: absolute;
  bottom: -18px;
  right: -18px;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: var(--txt-color);
  transform: rotate(140deg);
  pointer-events: none;
}
.chartTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--second-color);
  margin-bottom: var(--padding);
}
.chartTabHeader {
  display: flex;
  /* align-items: center; */
  gap: 5px;
  color: var(--bg-color);
}
.chartTabHeader svg {
  color: var(--style-color);
}
.chartTab ul {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}
.chartTab ul li {
  padding: 8px 15px;
  border-radius: 8px;
  background-color: var(--main-color);
  background-color: var(--txt-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: 300ms ease-in-out;
  font-weight: 600;
  text-transform: capitalize;
}
.chartTab ul li:hover,
.chartTab ul li.active {
  background-color: var(--main-color);
  color: var(--txt-color);
}
