.failedProcess {
  height: calc(100svh - 108px);
  max-height: calc(100svh - 108px);
  overflow-y: auto;
  position: relative;
  height: calc(100svh - 108px - (var(--padding) * 2));
  max-height: calc(100svh - 108px - (var(--padding) * 2));
  background-color: var(--txt-color);
  margin: var(--padding);
  border-radius: var(--radius);
}
